<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="menu">
    <nav style="background:  #2c3e50;; padding:10px;">
        <a href="/" style="color:white; margin-right:15px;">Inicio</a>
        <a href="/users" style="color:white; margin-right:15px;">Usuarios</a>
        <a href="/game" style="color:white; margin-right:15px;">Juego</a>
        <a href="/create-creature" style="color:white; margin-right:15px;">Crear Criatura</a>
        <a href="/weapons" style="color:white; margin-right:15px;">Armas</a>
        <a href="/shields" style="color:white; margin-right:15px;">Escudos</a>
        <a href="/party" style="color:white; margin-right:15px;">Party</a>
        <a href="/login" style="color:white; margin-right:15px;">Login</a>
        <a href="/register" style="color:white;">Registro</a>
    </nav>
</div>

</body>
</html>
