<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="menu">
    <nav style="background:  #2c3e50;; padding:10px;">
        <a href="/" style="color:white; margin-right:15px;">Inicio</a>
          <a href="/register" style="color:white;">Registro</a>
            <a href="/login" style="color:white; margin-right:15px;">Login</a>
                <a href="/packs" style="color:white; margin-right:15px;">Packs</a>
                <a href="/stories" style="color:white; margin-right:15px;">Stories</a>
                <a href="/encounters" style="color:white; margin-right:15px;">Encounters</a>
                    <a href="/villains" style="color:white; margin-right:15px;">Villains</a>
                    <a href="/categories" style="color:white; margin-right:15px;">Categories</a>
      
      
    </nav>
</div>

</body>
</html>
