<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>

<h1>Lista de Usuarios</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Baneado</th>
            <th>Picture ID</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.userId}"></td>
            <td th:text="${u.role}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.banned}"></td>
            <td th:text="${u.pictureId}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>